/nbproject
/vendor
/annotations
/models
/unit
/misc

*.pydevproject
.project
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
Addendum.komodoproject
Addendum.phprj
Addendum.workspace
.codelite/
