/vendor
/annotations
/models
/unit
/misc
*.pydevproject
.project
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*~.nib
local.properties
.classpath
.settings/
.loadpath
Addendum.komodoproject
Addendum.phprj
Addendum.workspace
.codelite/
.idea/.idea/
